# Ignore binaries
bin/*

# Ignore VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Rust ignores
app/target
app/Cargo.lock
*.DS_Store

# Ignore Clion
app/.idea
.idea

